.experience-container{
display : grid ;
grid-template-columns: 1fr 1fr;
gap : 2rem ;
box-sizing: content-box;
}

#experience h5, #experience h2{
    color: var(--color-bg-blue);
    padding:10px;
    font-weight: 500;
}

.experience-container > div{
    padding : 2.4rem 5rem;
    border-radius : 2rem;
    border : 1px solid transparent;
    background :var(--color-bg-yellow);
    transition: var(--transition);
}

.experience-container>div:hover{
    background: transparent;
    border-color : var(--color-primary-variant);
    cursor: default;
    color: var(--color-bg-yellow)
}

.experience-container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-bg-blue);
}

.experience-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-detail{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.experience-detail-icon{
    margin-top: 5px;
    color: var(--color-bg-blue);
}

/* *******************MEDIA QUERIES (MEDIUM DEVICE) */
@media screen and (max-width: 1024px) {
    .experience-container{
        grid-template-columns: 1fr;
    }
    .experience-container > div{
        width: 80%;
        padding: 2rem;margin: 0 auto;
    }
    .experience-content{
        padding: 1rem;
    }
}

/* *******************MEDIA QUERIES (SMALL DEVICE) */
@media screen and (max-width: 600px) {

}
